body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f4f8;
}

.wrapper-gradient-text {
	font-size: 150px;
	font-weight: bold;
	display: flex;
	color: transparent;
	perspective: 270px;
}

.text-layer {
	position: relative;
	transform: rotateX(-30deg) translateZ(70px);
	background: linear-gradient(
		109.6deg,
		rgba(112, 246, 255, 0.33) 11.2%,
		rgba(221, 108, 241, 0.26) 42%,
		rgba(229, 106, 253, 0.71) 71.5%,
		rgba(123, 183, 253, 1) 100.2%
	);
	text-shadow: 0px 15px 0px rgba(112, 246, 255, 0.33);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;

	animation: shadowDrip 3s infinite alternate ease-in-out;
}

@keyframes melt {
	0% {
		transform: scaleY(1) translateY(0);
	}
	100% {
		transform: scaleY(1.1) translateY(5px);
	}
}

@keyframes shadowDrip {
	0% {
		text-shadow: 0px 5px 0px rgba(112, 246, 255, 0.33);
	}
	100% {
		text-shadow: 0px 20px 30px rgba(74, 26, 26, 0.3),
			0px 30px 40px rgba(221, 108, 241, 0.26),
			0px 70px 5px rgba(180, 111, 111, 0.2);
	}
}
